@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    #work {
        flex-direction: column;
        align-items: center;
    }
    .work-experience {
        align-items: flex-start;
        text-align: center;
        justify-content: flex-start;
    }
}

body {
    background-image: linear-gradient(90deg, rgb(48, 100, 241) 0%,rgb(10, 252, 43) 100%);
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#name {
    display: flex;
    width: 30%;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

.fa {
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-linkedin {
background: #007bb5;
color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}

#profile {
    width: 40%;
    display: flex;
    justify-content: center;
}

#contact {
    width: 30%;
    display: flex;
    justify-content: center;
}

.socials {
    margin: 1rem;
}

#bio {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

#skills {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


#work-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#work {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.work-experience {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin: 0 2rem;
    padding: 0 0;
}

.field {
    display: flex;
    margin: 1rem 0;
    text-align: center;
    height: 2rem;
}

.projects-header {
    display: grid;
}

.projects-background {
    min-width:100%; 
    min-height:100%;
    max-width: 100%;
    max-height: 100%; 
    width:auto; 
    height:auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justspace {
    height: 4rem;   
}

.image-header {
    color: rgb(0, 8, 119);
}

.minicap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0;
}

.imagewrapper img {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

