@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    #work {
        flex-direction: column;
        align-items: center;
    }
    .work-experience {
        align-items: flex-start;
        text-align: center;
        justify-content: flex-start;
    }
}

body {
    background-image: linear-gradient(90deg, rgb(66, 245, 248) 0%,rgb(3, 194, 29) 100%);
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#name {
    display: flex;
    width: 30%;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

#profile {
    width: 40%;
    display: flex;
    justify-content: center;
}

#contact {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.socials {
    margin: 1rem;
}

#bio {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

#skills {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#work-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#work {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.work-experience {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin: 0 2rem;
    padding: 0 0;
}

.field {
    display: flex;
    margin: 1rem 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justspace {
    height: 4rem;
}

.image-header {
    color: rgb(41, 2, 85);
}

.minicap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0;
}

.imagewrapper img {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

