
body {
    background-image: linear-gradient(22.5deg, rgb(202, 162, 38) 0%, rgb(202, 162, 38) 30%,rgb(200, 172, 46) 30%, rgb(200, 172, 46) 41%,rgb(197, 183, 54) 41%, rgb(197, 183, 54) 51%,rgb(195, 193, 62) 51%, rgb(195, 193, 62) 56%,rgb(193, 203, 69) 56%, rgb(193, 203, 69) 83%,rgb(190, 214, 77) 83%, rgb(190, 214, 77) 95%,rgb(188, 224, 85) 95%, rgb(188, 224, 85) 100%),linear-gradient(0deg, rgb(202, 162, 38) 0%, rgb(202, 162, 38) 30%,rgb(200, 172, 46) 30%, rgb(200, 172, 46) 41%,rgb(197, 183, 54) 41%, rgb(197, 183, 54) 51%,rgb(195, 193, 62) 51%, rgb(195, 193, 62) 56%,rgb(193, 203, 69) 56%, rgb(193, 203, 69) 83%,rgb(190, 214, 77) 83%, rgb(190, 214, 77) 95%,rgb(188, 224, 85) 95%, rgb(188, 224, 85) 100%),linear-gradient(157.5deg, rgb(202, 162, 38) 0%, rgb(202, 162, 38) 30%,rgb(200, 172, 46) 30%, rgb(200, 172, 46) 41%,rgb(197, 183, 54) 41%, rgb(197, 183, 54) 51%,rgb(195, 193, 62) 51%, rgb(195, 193, 62) 56%,rgb(193, 203, 69) 56%, rgb(193, 203, 69) 83%,rgb(190, 214, 77) 83%, rgb(190, 214, 77) 95%,rgb(188, 224, 85) 95%, rgb(188, 224, 85) 100%),linear-gradient(90deg, rgb(197, 2, 127),rgb(52, 76, 85)); background-blend-mode:overlay,overlay,overlay,normal;
  }


a {
    color: aqua;
}

a:visited {
    color: rgb(12, 179, 48);
}
